[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "public/academic_html"]
	path = public/academic_html
	url = https://github.com/Zhaolun-Liu/html
